@model  IEnumerable<PortalPizza.Models.Pizza>
@{
    ViewBag.Title = "Pizze";
}



<div class="album py-5 bg-light">
    <div class="container">
        <div class="row" style="margin-top:10px;">


            @foreach (var pizza in Model)
            {


            <div class="col-md-4 col-sm-6" style="background-color:aliceblue; border:5px solid #454545; padding:20px;">
                <div class="card mb-4 box-shadow text-center">
                    <img class="card-img-top" src="~/Content/Image/pizza.jpg" style="width:225px; height:140px; " alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">@pizza.Nazwa <br></br>Składniki: @pizza.Skladniki <br></br>Cena:  @(pizza.Cena-3),@(pizza.Cena-2),@pizza.Cena </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id = pizza.PizzaId, wielkosc = 35, rozmiar = "mala" })" class="btn btn-info btn-sm">
                                        35cm
                                    </a>
                                    <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id = pizza.PizzaId, wielkosc = 45, rozmiar = "srednia" })" class="btn btn-info btn-sm">
                                        45cm
                                    </a>
                                    <a href="@Url.Action("DodajDoKoszyka", "Koszyk", new { id = pizza.PizzaId, wielkosc = 50, rozmiar = "duza" })" class="btn btn-info btn-sm">
                                        50cm
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action( "Login","Account")" class="btn btn-info btn-sm">
                                        35cm
                                    </a>
                                    <a href="@Url.Action("Login","Account")" class="btn btn-info btn-sm">
                                        45cm
                                    </a>
                                    <a href="@Url.Action("Login","Account")" class="btn btn-info btn-sm">
                                        50cm
                                    </a>
                                }
                            </div>

                            <a href="@Url.Action("Detal",new { id=pizza.PizzaId})" class="btn btn-info btn-sm " style="margin-left:14px">
                                Więcej
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </a>
                            

                        </div>
                    </div>
                </div>
            </div>
            }





        </div>
    </div>
</div>
